:root {
    --primary: #E83D3D;
    --secondary: #A41313;
    --light:#fbfbfb;
    --dark-1:#2D2C2C;
    --dark-2:#525151;
    --dark-lowopacity:rgba(45, 44, 44, 0.7);
}

* {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal
}

body {
    margin:0;
    padding: 0;
     background-color: var(--dark-1);
}

#box {
    background-color: var(--dark-lowopacity);
    color: var(--light);
    padding:10px;    
}

#name1 {
    font-size: 64px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--light);
}

#role {
    color: var(--primary);
    font-size: 32px;

}

p {
    color: var(--light);
}

.header {
    background-image: url('img/background/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    padding-bottom: none;
    border: 2px solid var(--secondary);
}

.mainfelipe {
    width: 650px;
}

.socialsvg {
    color: var(--light);
}